.lead__subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto 56px auto;
    max-width: 640px;
    box-sizing:border-box;
    padding: 0 2%;
}
@media screen and (max-width: 767px) {
    .lead__subtitle {
      max-width: 288px;
      font-size: 16px;
      line-height: 20px;
      margin: 0 auto 40px auto;
    }
  }