.cover__background {
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
}
.cover__background::before {
    content:"";
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    position: absolute;
    background: #2A2C2F;
    opacity: 0.3;
    transition: opacity .5s ease;
}

.cover__background:hover::before {
    background: #2A2C2F;
    opacity: 0.8;
}